-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: meczomat
-- ------------------------------------------------------
-- Server version	12.0.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `groups`
--

DROP TABLE IF EXISTS `groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `groups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `league` varchar(50) NOT NULL,
  `district` varchar(50) NOT NULL,
  `season_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_b31b66bda89a0ea2a77d3221b58` (`season_id`),
  CONSTRAINT `FK_b31b66bda89a0ea2a77d3221b58` FOREIGN KEY (`season_id`) REFERENCES `seasons` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups`
--

LOCK TABLES `groups` WRITE;
/*!40000 ALTER TABLE `groups` DISABLE KEYS */;
INSERT INTO `groups` VALUES (1,'Grupa domyÔö╝┼Ąlna','IV','WrocÔö╝├ęaw',1);
/*!40000 ALTER TABLE `groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `league_groups`
--

DROP TABLE IF EXISTS `league_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `league_groups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `seasonId` int(11) DEFAULT NULL,
  `league` varchar(50) NOT NULL,
  `district` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_Season_Restore` (`seasonId`),
  CONSTRAINT `FK_Season_Restore` FOREIGN KEY (`seasonId`) REFERENCES `seasons` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `league_groups`
--

LOCK TABLES `league_groups` WRITE;
/*!40000 ALTER TABLE `league_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `league_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matches`
--

DROP TABLE IF EXISTS `matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `home_team_id` int(11) DEFAULT NULL,
  `away_team_id` int(11) DEFAULT NULL,
  `group_id` int(11) DEFAULT NULL,
  `homeGoals` int(11) DEFAULT NULL,
  `awayGoals` int(11) DEFAULT NULL,
  `matchDate` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_bb25f11ea6fa78b344a68923769` (`home_team_id`),
  KEY `FK_e457f057d971e464c1ebf6378c5` (`away_team_id`),
  KEY `FK_24e8071e3486275a5a31912a87d` (`group_id`),
  CONSTRAINT `FK_24e8071e3486275a5a31912a87d` FOREIGN KEY (`group_id`) REFERENCES `league_groups` (`id`) ON DELETE SET NULL,
  CONSTRAINT `FK_bb25f11ea6fa78b344a68923769` FOREIGN KEY (`home_team_id`) REFERENCES `teams` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_e457f057d971e464c1ebf6378c5` FOREIGN KEY (`away_team_id`) REFERENCES `teams` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matches`
--

LOCK TABLES `matches` WRITE;
/*!40000 ALTER TABLE `matches` DISABLE KEYS */;
/*!40000 ALTER TABLE `matches` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `matches_after_insert` AFTER INSERT ON `matches` FOR EACH ROW BEGIN

    -- Dodanie statystyk dla gospodarzy

    UPDATE standings

    SET 

        goalsFor = goalsFor + COALESCE(NEW.homeGoals, 0),

        goalsAgainst = goalsAgainst + COALESCE(NEW.awayGoals, 0),

        points = points + CASE

                    WHEN NEW.homeGoals > NEW.awayGoals THEN 3

                    WHEN NEW.homeGoals = NEW.awayGoals THEN 1

                    ELSE 0

                  END,

        goalDifference = goalsFor - goalsAgainst

    WHERE team_id = NEW.home_team_id;



    -- Dodanie statystyk dla go┼Ťci

    UPDATE standings

    SET 

        goalsFor = goalsFor + COALESCE(NEW.awayGoals, 0),

        goalsAgainst = goalsAgainst + COALESCE(NEW.homeGoals, 0),

        points = points + CASE

                    WHEN NEW.awayGoals > NEW.homeGoals THEN 3

                    WHEN NEW.awayGoals = NEW.homeGoals THEN 1

                    ELSE 0

                  END,

        goalDifference = goalsFor - goalsAgainst

    WHERE team_id = NEW.away_team_id;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `matches_after_update` AFTER UPDATE ON `matches` FOR EACH ROW BEGIN

    IF NOT (OLD.homeGoals <=> NEW.homeGoals AND OLD.awayGoals <=> NEW.awayGoals) THEN



        -- Cofni─Öcie starych statystyk dla gospodarzy

        UPDATE standings

        SET 

            goalsFor = GREATEST(goalsFor - COALESCE(OLD.homeGoals, 0), 0),

            goalsAgainst = GREATEST(goalsAgainst - COALESCE(OLD.awayGoals, 0), 0),

            points = points - CASE

                        WHEN OLD.homeGoals > OLD.awayGoals THEN 3

                        WHEN OLD.homeGoals = OLD.awayGoals THEN 1

                        ELSE 0

                      END,

            goalDifference = goalsFor - goalsAgainst

        WHERE team_id = OLD.home_team_id;



        -- Cofni─Öcie starych statystyk dla go┼Ťci

        UPDATE standings

        SET 

            goalsFor = GREATEST(goalsFor - COALESCE(OLD.awayGoals, 0), 0),

            goalsAgainst = GREATEST(goalsAgainst - COALESCE(OLD.homeGoals, 0), 0),

            points = points - CASE

                        WHEN OLD.awayGoals > OLD.homeGoals THEN 3

                        WHEN OLD.awayGoals = OLD.homeGoals THEN 1

                        ELSE 0

                      END,

            goalDifference = goalsFor - goalsAgainst

        WHERE team_id = OLD.away_team_id;



        -- Dodanie nowych statystyk dla gospodarzy

        UPDATE standings

        SET 

            goalsFor = goalsFor + COALESCE(NEW.homeGoals, 0),

            goalsAgainst = goalsAgainst + COALESCE(NEW.awayGoals, 0),

            points = points + CASE

                        WHEN NEW.homeGoals > NEW.awayGoals THEN 3

                        WHEN NEW.homeGoals = NEW.awayGoals THEN 1

                        ELSE 0

                      END,

            goalDifference = goalsFor - goalsAgainst

        WHERE team_id = NEW.home_team_id;



        -- Dodanie nowych statystyk dla go┼Ťci

        UPDATE standings

        SET 

            goalsFor = goalsFor + COALESCE(NEW.awayGoals, 0),

            goalsAgainst = COALESCE(NEW.homeGoals, 0),

            points = points + CASE

                        WHEN NEW.awayGoals > NEW.homeGoals THEN 3

                        WHEN NEW.awayGoals = NEW.homeGoals THEN 1

                        ELSE 0

                      END,

            goalDifference = goalsFor - goalsAgainst

        WHERE team_id = NEW.away_team_id;



    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `seasons`
--

DROP TABLE IF EXISTS `seasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seasons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seasons`
--

LOCK TABLES `seasons` WRITE;
/*!40000 ALTER TABLE `seasons` DISABLE KEYS */;
INSERT INTO `seasons` VALUES (1,'2025/2026'),(2,'2026/2027');
/*!40000 ALTER TABLE `seasons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `standings`
--

DROP TABLE IF EXISTS `standings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `standings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `team_id` int(11) DEFAULT NULL,
  `group_id` int(11) DEFAULT NULL,
  `points` int(11) NOT NULL DEFAULT 0,
  `goalsFor` int(11) NOT NULL DEFAULT 0,
  `goalsAgainst` int(11) NOT NULL DEFAULT 0,
  `goalDifference` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `FK_3bbd65ccfcbe4e9108b41528b65` (`team_id`),
  KEY `FK_adcf9e5a607f009c666adead998` (`group_id`),
  CONSTRAINT `FK_3bbd65ccfcbe4e9108b41528b65` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_adcf9e5a607f009c666adead998` FOREIGN KEY (`group_id`) REFERENCES `league_groups` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2980 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `standings`
--

LOCK TABLES `standings` WRITE;
/*!40000 ALTER TABLE `standings` DISABLE KEYS */;
/*!40000 ALTER TABLE `standings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams`
--

DROP TABLE IF EXISTS `teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `group_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_dac3c13839536151455938e66b7` (`group_id`),
  CONSTRAINT `FK_dac3c13839536151455938e66b7` FOREIGN KEY (`group_id`) REFERENCES `league_groups` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=607 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams`
--

LOCK TABLES `teams` WRITE;
/*!40000 ALTER TABLE `teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-06 10:51:54
